﻿<footer>
    <div class="contenedor">
        <p>&copy; @DateTime.Now.Year</p>
        <div class="sociales">
            <a class="icon-facebook" href="#"></a>
            <a class="icon-instagram" href="#"></a>
            <a class="icon-youtube" href="#"></a>
            <a class="icon-twitter" href="#"></a>
        </div>
    </div>
</footer>