﻿<header>
    <div class="contenedor">
        <img id="logo1" src="~/img/logofootlocker0.png">
        <img id="logo2" src="~/img/logofootlocker1.png">
        <nav class="menu">
            @Html.ActionLink("Inicio", "Inicio", "Inicio")
            @Html.ActionLink("Tiendas", "Tiendas", "Tiendas")
            @Html.ActionLink("Contacto", "Contacto", "Contacto")
        </nav>
        <nav class="login">
            <a href="#">Ingresar</a>
            <a class="icon-basket" href="#">Carrito</a>
        </nav>
    </div>
</header>
