﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Footlocker</title>
    <!-- SLIDER -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <!--ICONOS-->
    <link rel="stylesheet" href="~/Content/fontello.css">
    <link href="~/Content/stylos.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_header") 
    
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Html.Partial("_footer")
    @RenderSection("scripts", required: false)
</body>
</html>
