﻿@{
    ViewBag.Title = "Contacto";
}
<!--Googleapis-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCBMkBUD75RF7fftrpudJQXIoblNpRyWY&callback=initMap"></script>

<main>
    <div class="titulopag">
        <h1>contacto</h1>
    </div>
    <section class="moldecontacto">
        <div class="contenedorform">
            <p>
                Horarios de atencion: Lunes a viernes / 10:00 am - 20:00 pm<br />
                Email: contacto@footlocker.com <br />
                Direccion: Portaferrissa 18 Barcelona
            </p>

            <div id="after_submit"></div>

            <form method="post" class="form-contacto">
                <div class="textoarea">
                    <label>Nombre:</label><br />
                    <input type="text" id="Nombre" name="nombre" placeholder="Nombre" class="entrada" size="30" required/><br />
                </div>
                <div class="textoarea">
                    <label>Correo electronico:</label><br />
                    <input type="email" id="Correo" name="correo" placeholder="Email" class="entrada" size="30" required/><br />
                </div>
                <div class="textoarea">
                    <label>Asunto:</label><br />
                    <input type="text" id="Asunto" name="asunto" placeholder="Asunto" class="entrada" size="30" required/><br />
                </div>
                <div class="textoarea">
                    <label>Your message:</label><br />
                    <textarea type="texto" id="Mensaje" class="entrada" name="mensaje" rows="7" cols="40" required></textarea><br />
                </div>
                <input type="button" id="submit_button" value="Enviar" onclick="crear()" class="btn btn-primary btn-lg" />
            </form>

            <div id="Mapa">
                <div id="map">

                </div>
            </div>
        </div>
    </section>
    <div class="contenedorbanner">
        <img src="~/img/banner2.jpg">
    </div>

    @section Scripts{
        <script>
            function initMap() {

                var map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: 41.383309, lng: 2.1724788 },
                    zoom: 8
                });

                var marker = new google.maps.Marker({
                    position: { lat: 41.383309, lng: 2.1724788 },
                    map: map

                });
            }
        </script>
        <script>
            function crear() {
                if ($('#Nombre').val() != '' && $('#Correo').val() != '' && $('#Asunto').val() != '' && $('#Mensaje').val() != '') {
                    $.ajax({
                        url: "/Contacto/CrearConsulta",
                        data: {
                            Nombre: $('#Nombre').val(),
                            Correo: $('#Correo').val(),
                            Asunto: $('#Asunto').val(),
                            Mensaje: $('#Mensaje').val()                           
                        },
                        type: "post",
                        success: function (data) {
                            if (data != '') {
                                console.log(data);
                                alert(data.mensaje);
                                
                            }
                            window.location.href = "/Contacto/Contacto";
                        },
                        error: function (request, status, error) {
                            alert("Error al enviar la consulta");
                        }
                    });
                }
                else {
                    alert("Completar todos los datos");
                }
            }
        </script>
    }
</main>

