﻿@model  tp2OB.Models.ProductosPag
@{
    ViewBag.Title = "Inicio";
}
<!--Iconos/fuentes/stylo-->
<link rel="stylesheet" href="~/Content/fontello.css">
<link href="~/Content/stylos.css" rel="stylesheet">

<body>
    <main>
        <div class="titulopag">
            <h1>inicio</h1>
        </div>
        <div class="slidercontenedor">
            <section class="slider">
                <ul class="slider1">
                    <li><img src="~/img/slider/slider1.jpg" alt="slideruno"></li>
                    <li><img src="~/img/slider/slider2.jpg" alt="sliderdos"></li>
                    <li><img src="~/img/slider/slider3.jpg" alt="slidertres"></li>
                </ul>
            </section>
        </div>
        <section id="tienda">
            <div class="contenedor">
                <nav>
                    <h2>Marcas</h2>
                    <ul>
                        <li class="submenu">
                            @foreach (var Cat in Model.Categorias)
                             {
                                 <a href="#">@Cat.NombreCategorias</a>

                                 <ul>

                                     @foreach (var Sub in Model.Subcategorias)
                                     {

                                         if (Sub.IDCategoria == Cat.IDCategorias)
                                         {
                                             
                                             <li><a href="#">@Sub.NombreSubcategorias</a></li>
                                             
                                         }

                                     }
                                 </ul>

                             } 
                        </li>
                    </ul>
                </nav>
                <div class="tituloofert">
                    <h3 class="titulooferta">Ofertas</h3>
                </div>
                <div class="titulodest">
                    <h3 class="titulodestacados">Destacados</h3>
                </div>
                <div class="productos">
                    @foreach (var Productos in Model.Productos)
                    {
                        <article id="@Productos.ID" data-imagen="@Url.Content("~/" + Productos.Img)" data-descrip="@Productos.Nombre"
                                 data-precio="@Productos.Precio" data-boton-comprar="#comprar">
                            <img src="@Productos.Img">
                            <h4>@Productos.Nombre</h4>
                            <h4>$@Productos.Precio</h4>
                            <button onclick="ShowInformation('@Productos.ID')" class="ver" data-popup-abrir="#popup">ver</button><br>
                            <button id="comprar">comprar</button>
                        </article>
                     }
                </div>
            </div>
        </section>
        <div class="contenedorbanner">
            <img src="~/img/banner3.jpg">
        </div>
        <div class="popup" id="popup">
            <div class="popup-header">
                <div class="titulo-popup">Footlocker</div>
                <button data-popup-cerrar class="boton-cerrar">&times;</button>
            </div>
            <div class="popup-body">
                <div class="imgPopup">
                    <img id="imagenPopup" src="#art6" alt="">
                </div>
                <div class="descrpPopup">
                    <h1 id="descripPopup"></h1>
                    <h2 id="precioPopup"></h2>
                </div>
                <button id="comprar-popup">comprar</button>
            </div>
        </div>
        <div id="fondo-popup"></div>
    </main>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.slider1').bxSlider({
                mode: 'fade'
            })
            $('.slider2').bxSlider({
                mode: 'fade'
            })
            $('.slider3').bxSlider({
                mode: 'fade'
            })
        })
    </script>
    <script>
        const abrirPopupbotones = document.querySelectorAll('[data-popup-abrir]')
        const cerrarPopupbotones = document.querySelectorAll('[data-popup-cerrar]')
        const fondoPopup = document.getElementById('fondo-popup')

        abrirPopupbotones.forEach(button => {
            button.addEventListener('click', () => {
                const popup = document.querySelector(button.dataset.popupAbrir)
                abrirPopup(popup)
            })
        })

        fondoPopup.addEventListener('click', () => {
            const popup = document.querySelectorAll('.popup.activo')
            popup.forEach(popup => {
                cerrarPopup(popup)
            })
        })

        cerrarPopupbotones.forEach(button => {
            button.addEventListener('click', () => {
                const popup = button.closest('.popup')
                cerrarPopup(popup)
            })
        })

        function abrirPopup(popup) {
            if (popup == null) return
            popup.classList.add('activo')
            fondoPopup.classList.add('activo')

        }

        function ShowInformation(idArt) {
            const article = document.getElementById(idArt);

            document.getElementById('imagenPopup').src = article.dataset.imagen;
            document.getElementById('descripPopup').innerHTML = article.dataset.descrip;
            document.getElementById('precioPopup').innerHTML = "Precio: $" + article.dataset.precio;
        }

        function cerrarPopup(popup) {
            if (popup == null) return
            popup.classList.remove('activo')
            fondoPopup.classList.remove('activo')
        }
    </script>
}
</body>