﻿@{
    ViewBag.Title = "Tiendas";
}
<main>
    <div class="titulopag">
        <h1>ubicaciones</h1>
    </div>
    <div class="contenerdorcontacto">
        <section id="galeriaubicacion">
            <div class="clasefoto">
                <img src="~/img/foot1.jpg" alt="">
                <p>
                    Avenida Portal de l' Angel, 6
                </p>
            </div>
            <div class="clasefoto">
                <img src="~/img/foot2.jpg" alt="">
                <p>C.C. Gran Via 2, Local 30</p>
            </div>
            <div class="clasefoto">
                <img src="~/img/foot3.jpg" alt="">
                <p>
                    Calle Preciados, 6
                    Madrid
                </p>
            </div>
            <div class="clasefoto">
                <img src="~/img/foot4.jpg" alt="">
                <p>CC Plaza Rio 2, Calle antonio l.</p>
            </div>
            <div class="clasefoto">
                <img src="~/img/foot5.jpg" alt="">
                <p>Local 901-902 -A Avda Aurora</p>
            </div>
            <div class="clasefoto">
                <img src="~/img/foot6.jpg" alt="">
                <p>Centro Comercial Marineda City</p>
            </div>
        </section>
    </div>
    <div class="contenedorbanner">
        <img src="~/img/banner.jpg">
    </div>
</main>
